*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cabecalho{
    display: flex;
    justify-content: space-between;
    h1{
        flex-grow: 10;
        margin: 10px;
        flex-shrink: 1;
        flex-basis: 20px;
    }
}

